.footer {
    background: rgb(0,0,0, 0.8);
    background: linear-gradient(270deg, rgba(0,0,0,0.8) 0%, rgba(9,9,121,0.8) 75%);
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.185);
    padding: 10px;
    position: relative;
}

.footer-links {
    margin: 0;
    text-align: center;
    color: white;
}

.footer-links ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-links img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}