<div class="footer">
    <div class="footer-links">
        <ul>
            <li>
                <a class="nav-link" href="about">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg">
                </a>
            </li>
            <li>
                <a class="nav-link" href="about">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg">
                </a>
            </li>
            <li>
                <a class="nav-link" href="about">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg">
                </a>
            </li>
        </ul>
    </div>
</div>