<div class="footer">
    <div class="footer-links">
        <ul>
            <li>
                <a class="nav-link" href="" match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li>
                <a class="nav-link" href="settings">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
                </a>
            </li>
            <li>
                <a class="nav-link" href="about">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Contact
                </a>
            </li>
        </ul>
    </div>
</div>