@inherits LayoutComponentBase

<PageTitle>MailLobbyer</PageTitle>
<NavMenu />
<div class="page">
    <main>
        <img src="background.png">
        <article class="content-body">
            @Body
        </article>
    </main>
</div>
<Footer />
