.navbar ul[b-45dpqj4uyl],
.navbar li[b-45dpqj4uyl] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar[b-45dpqj4uyl] {
    background: rgb(0,0,0, 0.9);
    background: linear-gradient(270deg, rgba(9,9,121,0.9) 0%, rgba(0,0,0,0.9) 50%, rgba(9,9,121,0.9) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.185);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand[b-45dpqj4uyl] {
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand img[b-45dpqj4uyl] {
    max-width: auto;
    max-height: 8vh;
    
}

.navbar-links[b-45dpqj4uyl] {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul[b-45dpqj4uyl] {
    display: flex;
    justify-content: center;
}

.navbar-links li[b-45dpqj4uyl] {
    margin-left: 15px;
}

.navbar-links a[b-45dpqj4uyl] {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover[b-45dpqj4uyl] {
    background-color: rgb(9, 9, 121);
    border-radius: 5px;
}

.navbar-link[b-45dpqj4uyl] {
    color: white;
}

@media (max-width: 768px) {
    .navbar[b-45dpqj4uyl] {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links[b-45dpqj4uyl] {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul[b-45dpqj4uyl] {
        flex-direction: row; 
    }

    .navbar-brand[b-45dpqj4uyl] {
        position: static; 
    }
}