@page "/"

<PageTitle>Index</PageTitle>
<div class="page">
    <div class="header-row">
            <div class="header-panel">
            <h1>Liverpool Association For Space Engineering And Research</h1>
            <h2>Numqam Solum Volare</h2>

            <button id="projects-button">Our projects</button>
            <button id="getinvolved-button">How to get involved</button>
            

        </div>
    </div>

    <div class="row">
        <div class="content-panel">
            <h1>What we do:</h1>
            <p>A University of Liverpool, Electronics and Electrical Engineering department supported, 
                student run group focused on research in space based engineering. Currently focusing on 
                competing in the OrbAstro competition to develop a payload to be launched on a CubeSat. 
                The end aim of our society is to develop, build and manage the construction of a CubeSat 
                (or any variations of such a small scale satellite). This is to be done through graded 
                university project work relating to LASER, that are already essential to the student’s EEE 
                related degree. The integral objective of this group is to promote and maintain interest in 
                the EEE field of study for graduating university students. We want to create a friendly and 
                social atmosphere where students can not only develop their engineering and management 
                skills, but also gain important industrial skills that students don’t tend to learn during 
                their time in University.</p>
        </div>  
    </div>

    <div class="row">
        <div class="project-spotlight">
            <img src="test.jpg">
                <div class="overlay">
                    <h1>Heading</h1>
                    <p>Lorem ipsum..</p>
                </div>
        </div>

    </div>

    </div>

