/* /Shared/Footer.razor.rz.scp.css */
.footer[b-5pwfg2lbny] {
    background: rgb(0,0,0, 0.8);
    background: linear-gradient(270deg, rgba(0,0,0,0.8) 0%, rgba(9,9,121,0.8) 75%);
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.185);
    padding: 10px;
}

.footer-links[b-5pwfg2lbny] {
    margin: 0;
    text-align: center;

}

.footer-links ul[b-5pwfg2lbny] {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer-links li[b-5pwfg2lbny] {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-links img[b-5pwfg2lbny] {
    width: 30px; 
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-vb76vs78jq] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background[b-vb76vs78jq] {
    position: relative; /* Add this to make the background positioning relative to the main element */
}
.background img[b-vb76vs78jq] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Use object-fit instead of background-size */
}

main[b-vb76vs78jq] {
    flex: 1;
}









/* /Shared/NavMenu.razor.rz.scp.css */
.navbar ul[b-45dpqj4uyl],
.navbar li[b-45dpqj4uyl] {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar[b-45dpqj4uyl] {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.1) 56%, rgba(9,9,121,0.8) 100%); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.185);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand[b-45dpqj4uyl] {
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand img[b-45dpqj4uyl] {
    max-width: auto;
    max-height: 8vh;
    
}

.navbar-links[b-45dpqj4uyl] {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-links ul[b-45dpqj4uyl] {
    display: flex;
    justify-content: center;
}

.navbar-links li[b-45dpqj4uyl] {
    margin-left: 15px;
}

.navbar-links a[b-45dpqj4uyl] {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover[b-45dpqj4uyl] {
    background-color: #555;
    border-radius: 5px;
}

.navbar-link[b-45dpqj4uyl] {
    color: white;
}

@media (max-width: 768px) {
    .navbar[b-45dpqj4uyl] {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links[b-45dpqj4uyl] {
        flex: none;
        margin-top: 10px;
    }

    .navbar-links ul[b-45dpqj4uyl] {
        flex-direction: row; 
    }

    .navbar-brand[b-45dpqj4uyl] {
        position: static; 
    }
}
