.page[b-45egzixnd4] {
    
}

.header-row[b-45egzixnd4] {
    display: flex;
    /* justify-content: space-between to offset to left */
    justify-content: center;
    margin: 20vh;
}

.header-row #projects-button[b-45egzixnd4] {
    
    margin: 1vh;
    padding: 10px 30px;
    height: 40px;
    background: rgba(9,9,121,0.9);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.header-row #projects-button:hover[b-45egzixnd4] {
    background: rgb(9,9,121);
    transform: scale(1.05);
}

.header-row #getinvolved-button[b-45egzixnd4] {
    
    margin: 1vh;
    padding: 10px 30px;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.header-row #getinvolved-button:hover[b-45egzixnd4] {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.row[b-45egzixnd4] {
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 0; 
    width: 100%;
}

.header-panel[b-45egzixnd4] {
    color: white;
    padding: 10px;
    text-align: center;  
}

.header-panel h1[b-45egzixnd4] {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 4vh, 0vh;
}

.header-panel h2[b-45egzixnd4] {
    font-size: 2vh;
    font-weight: bold;
    font-style: italic;
}

.content-panel[b-45egzixnd4] {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    text-align: center;
}

.content-panel h1[b-45egzixnd4] {
    font-size: 3vh;
    font-weight: bold;
}

.content-panel p[b-45egzixnd4] {
    font-size: 2vh;
}

.project-spotlight[b-45egzixnd4]{
    position: relative;
    max-width: 800px; 
    margin: 0 auto; 
    width: 100%; 
}

.project-spotlight img[b-45egzixnd4] {
    width: 100%; 
}

.project-spotlight .overlay[b-45egzixnd4] {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    padding: 20px;
    width: 100%; 
    
}


@media (max-width: 768px) {
    .header-row[b-45egzixnd4] {
        display: flex;
        justify-content: center;
        margin-bottom: 10vh;
    }
}
